
<navigation>
	<ul>
		<% site.pages.sort('order').each(function (p) { %>
		<li>
			<a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
		</li>
		<% }) %>
	</ul>
</navigation>